.body-login {
    background: url(../image/bg-01.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    background: white;
    border-radius: 10px;
    width: 500px;
}

.title-login {
    display: block;
    font-weight: bold;
    font-size: 39px;
    font-family: Verdana;
    line-height: 1.2;
    text-align: center;
    margin: 25px;
}

.item {
    margin: 25px;
}

.item label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #333;
    line-height: 1.5;
    padding-left: 7px;
    float: left;
}

.item div {
    display: flex;
}

.item-input{
    border-bottom: 2px solid darkgray;
}

.item i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    color: darkgray;
    min-width: 50px;
    font-size: 20px;
    flex: 1;
}

.item input {
    font-family: serif;
    font-size: 18px;
    color: dimgray;
    line-height: 1.2;
    flex: 9;
    height: 55px;
    background: 0 0;
    border: none;
    padding-left: 20px;

    outline: none;
}

/*.item input:focus {*/
/*    outline: none;*/
/*}*/

::placeholder {
    color: darkgray;
}

.button {
    background-color: -moz-cellhighlight;
    display: flex;
    justify-content: center;
}

.btn-hover {
    width: 75%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 0px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #953ef6, #04befe, #933fed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

@media screen and (max-width: 972px) {
    body {
        background-size: auto;
    }
}