.left {
    flex: 1.5;
    min-width: 180px;
    background-color: #0f172a;
}

.fixed-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav-branch {
    font-weight: bold;
    color: lightgray;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    margin: 10px;
}

.type {
    font-weight: normal;
    color: lightgray;
    padding: 10px 10px 10px 25%;
    border-radius: 5px;
    margin: 10px;
    /*padding-left: 25%;*/
    /*display: block;*/
}

.nav-branch:hover {
    color: white;
    background-color: #2c3344;
}

.nav-branch:focus {
    color: white;
    background-color: #2c3344;
}

.nav-branch-focus {
    color: white;
    background-color: #2c3344;
}

.type:hover {
    color: white;
    background-color: #2c3344;
}

.type:focus {
    color: white;
    background-color: #2c3344;
}

.right {
    flex: 8.5;
}

.search {
    margin: 10px;
    padding-bottom: 20px;
    /*justify-content: center;*/
    width: auto;
    display: flex;
}

.input-search {
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    padding: 0px 10px 0px 10px;
    width: 40%;
    height: 38px;
}

.btn-blue {
    border: none;
    height: 2.5rem;
    margin-left: 10px;
    /*background-color: #0066cc;*/
    color: white;
}

.btn-gray:hover {
    background-color: #004c99;
    color: white !important;
}

.dropdown {
    margin-left: 10px;
}

.img {
    width: 50%;
}

td, th {
    border: 1px solid darkgray;
    text-align: center;
    vertical-align: middle;
}

.base-table {
    width: auto;
    margin: 10px;
}

tbody tr:hover {
    background-color: lightgray;
    cursor: pointer;
}